@import "~global/css/colors/index.css";

/* Brand colours from https://app.zeplin.io/project/5e80d5a044ae5171f92d1273/screen/5e80d610147fe76efd31ae3c */
$brand-color-primary: #f9295e;
$brand-color-highlight: #e81f4a;
$brand-color-light: #5c0c1d;
$brand-color-medium: #3a0712;
$brand-color-dark: #160307;
$brand-color-primary-base: #000; /* TODO: Remove, it's not in the brand palette */

$body-link-fg: $brand-color-white;

$brand-body-bg: $brand-color-dark;
$brand-body-fg: $brand-color-white;

$brand-button-bg: $brand-color-white;

$brand-header-bg: $brand-color-primary-base;
$brand-header-nav-link-fg: $brand-color-white;

$brand-footer-bg: $brand-color-primary-base;
$brand-footer-fg: $brand-color-grey-90;
$brand-footer-copyright-bg: $brand-color-primary-base;
$brand-footer-copyright-fg: $brand-color-grey-65;
$brand-footer-link-fg: $brand-color-grey-65;

$brand-search-input-bg: $brand-color-grey-25;
$brand-search-fg: $brand-color-white;
