@import "~global/css/breakpoints.css";
@import "~brand/css/index.css";

$iconSize: 32px;
$iconSizeLarge: 44px;

.bannerContainer {
  position: relative;
  height: 460px;
  overflow: hidden;
  margin: 12px auto 80px;
  border-radius: 2px;
  cursor: default;
  display: flex;

  @media (--xlarge-down) {
    margin: 0 80px 64px;
  }

  @media (--medium-down) {
    margin: 0 56px 64px;
  }
}

.container {
  width: 100%;
}

.cssCoverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;

  &.cssCoverImageDesktop {
    @media (--small-up) {
      display: block;
    }
  }

  &.cssCoverImageMobile {
    @media (--small-down) {
      display: block;
    }
  }
}
