@import "../../_global/css/colors/index.css";

$brand-color-primary: #5475b3;
$brand-color-highlight: #476398;
$brand-color-light: #212e47;
$brand-color-medium: #151d2c;
$brand-color-dark: #080b11;

$brand-color-primary-base: #000; /* TODO: Remove, it's not in the brand palette */

$body-link-fg: $brand-color-white;

$brand-body-bg: $brand-color-dark;
$brand-body-fg: $brand-color-white;

$brand-button-bg: $brand-color-white;

$brand-header-bg: $brand-color-primary-base;
$brand-header-nav-link-fg: $brand-color-white;

$brand-footer-bg: $brand-color-primary-base;
$brand-footer-fg: $brand-color-grey-90;
$brand-footer-copyright-bg: $brand-color-primary-base;
$brand-footer-copyright-fg: $brand-color-grey-65;
$brand-footer-link-fg: $brand-color-grey-65;

$brand-search-input-bg: $brand-color-grey-25;
$brand-search-fg: $brand-color-white;
