@import "../../_global/css/colors/index.css";

/* Brand colours from http://app.zeplin.io/project/5e80d5a044ae5171f92d1273 */
$brand-color-primary: #8a267f;
$brand-color-highlight: #75206c;
$brand-color-light: #290b25;
$brand-color-medium: #1b0719;
$brand-color-dark: #0d030c;
$brand-color-primary-base: #000; /* TODO: Remove, it's not in the brand palette */

$body-link-fg: $brand-color-white;

$brand-body-bg: $brand-color-dark;
$brand-body-fg: $brand-color-white;

$brand-button-bg: $brand-color-white;

$brand-header-bg: $brand-color-primary-base;
$brand-header-nav-link-fg: $brand-color-white;

$brand-footer-bg: $brand-color-primary-base;
$brand-footer-fg: $brand-color-grey-90;
$brand-footer-copyright-bg: $brand-color-primary-base;
$brand-footer-copyright-fg: $brand-color-grey-65;
$brand-footer-link-fg: $brand-color-grey-65;

$brand-search-input-bg: $brand-color-grey-25;
$brand-search-fg: $brand-color-white;
